body {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #ffffff
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    font-style: normal;
}

.logo {
    font-family: "Raleway", sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2E2F42;
}
.blue-span {
  color: #4D5AE5;
}


nav a {
    
        font-weight: 500;
        color: #2E2F42;
}
nav a:hover, nav a:focus {
    color: #404BBF;
}
address a {

        color: #434455;
}
address a:hover, address a:focus {
    color: #404BBF;
}

.hero {
    background-color: #2E2F42;
}
h1 {
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #FFFFFF;
}
.btn {
    cursor: pointer;
    background-color: #4D5AE5;
    color: #FFFFFF;
    font-weight: 500;
    letter-spacing: 0.04em;
}
.btn:hover, .btn:focus {
    background-color: #404BBF;
}
h2 {
     font-weight: 700;
     font-size: 36px ;
     color: #2E2F42;
     letter-spacing: 0.02em;
}
.h2-center {
    text-align: center;
}
h3 {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
}

.workers h3, .workers p {
    text-align: center;
}
footer {
    background-color: #2E2F42;
}
.footer-logo-span-white {
    color: #FFFFFF;
}
.section-team {
    background-color: #F4F4FD;
}
.workers li {
    background-color: #FFFFFF;
}
footer p {
    color: #F4F4FD;
}